{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ONDE{% if title %} - {{ title }}{% else %} - Modern Celtic{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block description %}Imaginez une odyssée sonore où le rock progressif, le jazz et la pop explorent les rivages du folklore celte...{% endblock %}">
    <meta property="og:title" content="ONDE{% if title %} - {{ title }}{% endif %}">
    <meta property="og:site_name" content="ONDE Modern Celtic">
    <meta property="og:url" content="https://www.onde-music.com{{ request.path }}">
    <meta property="og:language" content="fr">
    <meta property="og:image" content="https://onde-music.com/static/bundles/01.jpg">
    {% render_bundle 'app' 'css' %}
</head>
<body class="">

    <header>
      {% include "onde/partials/header.html" %}
    </header>

  <div class="content">
    {% block body %}{% endblock %}


  </div>

    <footer id="footer">
      {% include "onde/partials/footer.html" %}
    </footer>

  {% block scripts %}{% endblock %}
  {% render_bundle 'app' 'js' %}
</body>
</html>
