{% extends "onde/base.html" %}
{% load extras %}

{% block body %}

  <div class="container page" id="agenda">
    <h1>Agenda</h1>
    <div class="futures">
      {% for date in object_list|dictsort:"date" %}
        {% if date|future %}
          <div class="date">
            <div class="quand">
              <div class="jour">{{ date.date|date:'d' }}</div>
              <div class="mois">{{ date.date|date:'M' }}</div>
            </div>
            <div class="evenement">{{ date.lieu }}</div>
            <div class="ville">{{ date.ville.nom }}</div>
            <div class="reseaux">
              {% if date.facebook %}
                <a target="_blank" href="{{ date.facebook }}"><i class="fa fa-facebook"></i></a>
              {% endif %}
              {% if date.website %}
                <a target="_blank" href="{{ date.website }}"><i class="fa fa-link"></i></a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}

    </div>

    <h2>Dates passées</h2>
    <div class="passe container">
      {% for date in object_list|dictsortreversed:"date" %}
        {% if date|past %}
          {% ifchanged %}
            <h3>{{ date.date.year }}</h3>
          {% endifchanged %}
              <div class="date">
                <div class="jour">{{ date.date|date:"d" }} {{ date.date|date:"M" }}</div>
                <div class="evenement">{{ date.lieu }}</div>
                <div class="lieu">{{ date.ville.nom }}</div>
              </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

{% endblock %}
