{% extends "onde/base.html" %}

{% load static %}
{% block body %}

  <div class="container page" id="contact">
    <h1>Contact</h1>
    <table class="onde">
      <tr>
        <td>onde.music [chez] gmail.com</td>
      </tr>
      <tr>
        <td><a href="https://www.facebook.com/Onde.music" target="_blank">www.facebook.com/Onde.music</a></td>
      </tr>
      <tr>
        <td><a href="http://www.onde-music.com" target="_blank">www.onde-music.com</td>
      </tr>
    </table>

    <div class="avatar">
      <div class="o"><img src="{% static 'img/avatar/o-rouge.svg' %}" alt="o"></div>
      <div class="fleches-int"><img src="{% static 'img/avatar/fleches-int-rouge.svg' %}" alt="fleches-int"></div>
      <div class="fleches-ext"><img src="{% static 'img/avatar/fleches-ext-rouge.svg' %}" alt="fleches-ext"></div>
    </div>

    <div class="contacts">
      {% for contact in object_list %}
        <div class="contact">
          <h3>{{ contact.nom }}</h3>
          <h4>{{ contact.categorie.nom }}</h4>
          <div class="description">{{ contact.description|safe }}</div>
          <table class="fields">
            {% for champ in contact.champs.all %}
              <tr>
                <td class="logo"><i class="fa fa-{{ champ.logo }}"/></td>
                <td class="content">
                  {% if not champ.lien %}
                    {{ champ.contenu }}
                  {% else %}
                    <a href="{{ champ.lien }}" target="_blank">{{ champ.contenu }}</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% endfor %}
    </div>

    <div class="img"><img src="{% static 'img/contact.jpg' %}" alt="contact" style="width:100%;"></div>

  </div>

{% endblock %}
