{% extends "onde/base.html" %}

{% block body %}

{% load static %}
<div class="container page" id="groupe">
  <h1>Le Groupe</h1>

  <div class="presentation" data-aos="fade-left">
    {{ bios.bio | safe }}
  </div>

  <div class="avatar">
    <div class="o"><img src="{% static 'img/avatar/o-rouge.svg' %}" alt="o"></div>
    <div class="fleches-int"><img src="{% static 'img/avatar/fleches-int-rouge.svg' %}" alt="fleches-int"></div>
    <div class="fleches-ext"><img src="{% static 'img/avatar/fleches-ext-rouge.svg' %}" alt="fleches-ext"></div>
  </div>

  <div class="membres">
    <div class="membre" data-aos="fade-right">
      <div class="img"><img src="{% static 'img/solos/juju.jpg' %}" alt="julien"></div>
      <div class="texte">
        {{ bios.juju | safe }}
      </div>
    </div>
    <div class="membre" data-aos="fade-left">
      <div class="img"><img src="{% static 'img/solos/mandine.jpg' %}" alt="amandine"></div>
      <div class="texte">
        {{ bios.amandine | safe }}
      </div>
    </div>
    <div class="membre" data-aos="fade-right">
      <div class="img"><img src="{% static 'img/solos/jc.jpg' %}" alt="jean-christophe"></div>
      <div class="texte">
        {{ bios.jc | safe }}
      </div>
    </div>
    <div class="membre" data-aos="fade-left">
      <div class="img"><img src="{% static 'img/solos/wiwi.jpg' %}" alt="william"></div>
      <div class="texte">
        {{ bios.wiwi | safe }}
      </div>
    </div>
    <div class="membre" data-aos="fade-right">
      <div class="img"><img src="{% static 'img/solos/ben.jpg' %}" alt="ben"></div>
      <div class="texte">
        {{ bios.ben | safe }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
