{% extends "onde/base.html" %}

{% load static %}
{% block body %}


  <div class="full-width">
    <div data-aos="fade-up" class="home-title">
      <img class="logo" src="static/img/logo-blanc.svg">
      <h2>Modern Celtic</h2>
    </div>
  </div>

<div id="home" class="page">
  <div id="maelstrom">
    <div class="background-image"></div>
    <div class="wrapper">
      <div class="album"><a target="_blank" href="https://www.helloasso.com/associations/association-la-selkie/paiements/maelstrom-cd-5-titres-de-onde"><img src="{% static 'img/Pochette-ONDE.jpg' %}" alt=""></a></div>
      <div class="texte">
        <h1>Premier EP Disponible</h1>
        <h2>Maëlstrom</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="actus">
      <h1>Actus</h1>
      {% for actu in object_list|dictsortreversed:"date" %}
        {% if actu.first and actu.publier %}
          <div class="post first">
            <h2>{{ actu.titre }}</h2>
            <div class="text">
              {{ actu.contenu|safe }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      {% for actu in object_list|dictsortreversed:"date" %}
        {% if not actu.first and actu.publier %}
          <div class="post">
            <h2>{{ actu.titre }}</h2>
            <div class="text">
              {{ actu.contenu|safe }}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div id="down" class="white"></div>

{% endblock %}
