{% extends "onde/base.html" %}

{% load static %}
{% block body %}
  <div id="maelstrom">
    <div class="background-image"></div>
    <div class="wrapper">
      <div class="logo"><img src="{% static 'img/logo-blanc.svg' %}" alt=""></div>
      <div class="album"><a target="_blank" href="https://www.helloasso.com/associations/association-la-selkie/paiements/maelstrom-cd-5-titres-de-onde"><img src="{% static 'img/Pochette-ONDE.jpg' %}" alt=""></a></div>
      <div class="texte">
        <h1>Premier EP Disponible</h1>
        <h2>Maëlstrom</h2>
        <div class="links">
          <!--
          <a href="#"><i class="fa fa-spotify"></i></a>
          <a href="#"><i class="fa fa-bandcamp"></i></a>
          -->
          <br>
        </div>
        <h3><a href="{% url 'home' %}">Entrer sur le site</a></h3>
      </div>
    </div>

  </div>
{% endblock %}
