{% extends "onde/base.html" %}

{% block body %}

{% load static %}
<div class="container page" id="mentions-legales">
  <h1>Mentions Légales</h1>
  <h2>Identification du site</h2>
  <p><b>Nom:</b> Onde Music</p>
  <p><b>URL:</b> onde-music.com www.onde-music.com</p>
  
  <h2>Propriétaire du site</h2>
  <p>Association La Selkie<br>
  41 rue Louis Cabié 33800 Bordeaux<br>
  <b>Directeur de la publication:</b> William Rieublanc<br>
  <b>Directeur de la rédaction:</b> William Rieublanc</p>

  <h2>Hébergement</h2>
  <p>
    Association <b>Aquilenet</b><br>
    20 rue Tourat<br>
    33000 BORDEAUX<br>
    <a href="https://www.aquilenet.fr" target="_blank">www.aquilenet.fr</a>
  </p>

  <h2>Crédits</h2>
  <p>
    Site réalisé par Simon Crespeau<br>
    14 rue Riboutet 33670 CRÉON<br>
    Identification SIRET : 750 042 798 00025<br>
    <a href="https://www.art-e-toile.com" target="_blank">www.art-e-toile.com</a><br>
    <a href="mailto:simon@art-e-toile.com" target="_blank">simon@art-e-toile.com</a>
  </p>
</div>
{% endblock %}
