{% extends "onde/base.html" %}

{% block body %}

{% load static %}
<div class="container page" id="musique">
  <h1>Musique</h1>
  <div class="wrapper">
    <iframe style="border: 0; width: 100%; height: 725px;" src="https://bandcamp.com/EmbeddedPlayer/album=1911091904/size=large/bgcol=181a1b/linkcol=056cc4/transparent=true/" seamless><a href="http://ondemodernceltic.bandcamp.com/album/ma-lstrom">Maëlstrom by Onde_ModernCeltic</a></iframe></div>
  </div>
{% endblock %}
