{% extends "onde/base.html" %}

{% block body %}

{% load static %}
<div class="container page" id="photos">
  <h1>Photos</h1>

  <h2>Photos de Presse</h2>
  <div class="presse gallerie">
    {% for presse in presses|dictsort:"position" %}
      <img src="{{ presse.photo.thumbnail.url }}" href="{{ presse.photo.url }}" alt="{{ presse.position }}">
    {% endfor %}
  </div>

  {% if object_list %}<h2>Galleries</h2>
    <div class="galleries">
    {% for galerie in object_list %}
      <div class="gallerie">
        <div class="accordion">
          <h3><a href="#">{{ galerie.nom }}</a></h3>
        </div>
        <div class="wrapper">
          <div class="diaporama container">
            {% for image in galerie.images.all %}
              <img src="{{ image.thumbnail.url }}" href="{{ image.image.url }}" alt="image">
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  {% endif %}

</div>

{% endblock %}
