{% extends "onde/base.html" %}

{% block body %}

{% load static %}
<div class="container page" id="videos">
  <h1>Vidéos</h1>
  <div class="videos-list">
    <div class="first">
    {% for video in object_list|dictsortreversed:"id" %}
      {% if video.first %}
        <div class="video-element" video-id="{{ video.youtubeID }}"><img class="thumbnail" src="{{ video.vignette.thumbnail.url }}" alt="{{ video.youtubeID }}"><img class="play" src="{% static 'img/play.png' %}"><h3>{{ video.nom }}</h3></div>
      {% endif %}
    {% endfor %}
    </div>
    <div class="seconds">
      {% for video in object_list|dictsortreversed:"id" %}
        {% if not video.first %}
        <div class="video-element" video-id="{{ video.youtubeID }}"><img class="thumbnail" src="{{ video.vignette.thumbnail.url }}" alt="{{ video.youtubeID }}"><img class="play" src="{% static 'img/play.png' %}"><h3>{{ video.nom }}</h3></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
