body, img, a, p, span, div, strong,
em, ul, ol, li, label, input, textarea,
form, fieldset, table, tr, th, td,
h1, h2, h3, h4, h5, h6, hr, iframe, embed, object {
    list-style-type: none;
    text-decoration: none;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
  position: relative;
  font-family: 'DayRoman';
  background-image: linear-gradient($blue-dark, $blue-light);
  color: $white;

  min-height: 100vh;
  &:not(.maelstrom) {
    padding-bottom: 270px;
  }
}

a {
  color: $white;
  transition: text-shadow .3s;

  &:hover {
    text-shadow: 0 0 5px $white;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'BebasNeue';
  letter-spacing: 1px;
}

  #mountain {
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url('../img/montagne.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 100%;
    height: 335px;
    z-index: -2;
    @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
      background-size: 100%;
    }
  }
  #light {
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url('../img/light.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    z-index: -2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
  }
  #ground {
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../img/without-trees.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 261px;
    z-index: 2;
  }
  #groundLight {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../img/without-trees-light.png');
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 261px;
    z-index: 3;
    transition: opacity 1s;
  }
  #footer-content {
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 100%;
  }

.page {
  text-align: center;
  h1 {
    margin: 40px auto;
  }
}

.layer {
  position: fixed;
}

p {
  letter-spacing: 1px;
}

.accordion + .wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.avatar {
  position: relative;
  min-height: 120px;

  .o, .fleches-int, .fleches-ext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .o img {width: 50px;}
  .fleches-int img {width: 75px; animation: rotate 20s infinite;}
  .fleches-ext img {width: 115px; animation: rotate 70s infinite linear; animation-direction: alternate-reverse;}
}

@keyframes rotate {
  from {transform: rotate(Odeg);}
  to {transform: rotate(360deg);}
}
