@font-face {
  font-family: 'DayRoman';
  src: url('../fonts/DayRoman.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DayRomanX';
  src: url('../fonts/DayRomanX.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue-Regular.ttf'), url('../fonts/BebasNeue-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
