/*
1. Colors
2. Sizes
3. Screens
4. Fonts
5. Links
6. Menu
*/

// 1. Colors

$white: #fefefe;
$black: #0e0e0e;
$blue-light: #4E4568;
$blue-dark: #271E2D;
$red: #af524c;

$background-color: $white;
$main-font-color: $black;
//$link-color:
//$link-color-hover:

// 2. Sizes

$global-width: 1000px;

// 3. Screens

$screen-small: 0px;
$screen-medium: 640px;
$screen-large: 1024px;

// 4. Fonts

$global-font-size: 100%;
$lead-font-size: $global-font-size * 1.25;
$small-font-size: 80%;

// 5. Links

$link-color: $main-font-color;
$link-color-hover: $main-font-color;

// 6. Menu

$menu-height: 100px;
