footer#footer {
  .container {
    // @include grid(1,2,2)
    padding-bottom: 10px;
    text-align: center;
    .apropos {

    }

    .links {
      opacity: 0.5;
      li {
        display: inline;
        list-style-type: none;
        margin: 0 3px;
      }
    }
  }
}
