header {
  border-bottom: 1px solid $red;

    .menu-container {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        min-height: $menu-height;

        #title-bar {
            flex: 1 1 auto;

            .logo-container {
                display: flex;
                align-items: center;

                img {width: 200px;}
            }
        }

        #mainNav {
            flex: 0 1 auto;

            ul.menu {
                display: flex;
                flex-wrap: nowrap;

                list-style-type: none;
                padding: 0;
                margin: 0;

                li.menu-item {
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 0 20px 0 20px;
                    min-height: $menu-height;

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover {
                        & > ul.submenu {visibility: visible; opacity: 1; top: $menu-height;}
                    }

                    a.social {
                      opacity: 0.5;
                      margin: 0 5px;
                      transition: opacity .3s;

                      &:hover {
                        opacity: 1;
                      }
                    }

                    ul.submenu {
                        z-index: 20;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        top: $menu-height + 20;
                        min-width: 150px;
                        padding: 0;

                        list-style-type: none;

                        background-color: $blue-dark;
                        box-shadow: 0px 8px 16px 0px rgba($main-font-color,0.6);

                        transition: top .3s, opacity .3s;

                        li.submenu-item {
                            display: flex;
                            align-items: center;
                            min-height: 65px;
                            padding: 0 15px 0 15px;
                            margin: 0;

                            &:hover {
                              background-color: lighten($blue-dark, 5%);
                            }
                        }
                    }
                }
            }
        }
    }
}
