$transition: .3s;

#responsiveButton {
    display: none;
    cursor: pointer;
    flex: 1 1 0px;
    text-align: right;

    i {
        margin-right: 10px;
        font-size: 1.5em;
    }
}

#responsiveOverlay {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    opacity: 0;
    transition: opacity $transition ease, visibility $transition ease;
}

#responsiveNav {
    position: fixed;
    width: 200px;
    z-index: 20;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $blue-dark;
    color: $white;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform $transition ease-out;

    ul.menu {
        padding: 0;
        margin: 0;

        li.menu-item {
            list-style-type: none;

            ul.submenu {
                padding: 0;
                background-color: lighten($blue-dark, 10%);
                overflow: hidden;

                li.submenu-item {
                    list-style-type: none;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    padding-left: 40px;
                }
            }

            div.wrapper {
                padding-left: 40px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    #mainNav {
        display: none;
    }

    #responsiveButton, #responsiveNav, {
        display: block;
    }

    .responsive-activated#responsiveNav {
        transform: translateX(0);
        box-shadow: 0 0 10px black;
    }

    .responsive-activated#responsiveOverlay {
        visibility: visible;
        opacity: 0.25;
    }
}
