<div id="mountain" class="layer layer-3" data-depth="0.30" data-type="parallax"></div>
<div id="light" class="layer layer-4" data-depth="0.50" data-type="parallax"></div>
<div id="ground"></div>
<div id="groundLight"></div>
<div id="footer-content">
  <div class="container">
    <ul class="links">
      <li><a href="/mentions-legales">Mentions légales</a></li>
    </ul>
  </div>
</div>
