{% load static %}
<div id="menu" class="container menu-container">
    <div id="title-bar">
        <div class="logo-container">
            <a href="{% url 'accueil' %}"><img src="{% static 'img/logo-blanc.svg' %}"></a>
        </div>
    </div>
    <div id="mainNav">
        <ul class="menu">
            <li class="menu-item"><div class="wrapper"><a href="{% url 'groupe' %}">Le Groupe</a></div></li>
            <li class="menu-item">
              <div class="wrapper"><a href="#">Médias</a></div>
              <ul class="submenu">
                <a href="{% url 'videos' %}"><li class="submenu-item">Vidéos</li></a>
                <a href="{% url 'photos' %}"><li class="submenu-item">Photos</li></a>
                <a href="{% url 'musique' %}"><li class="submenu-item">Musique</li></a>
              </ul>
            </li>
            <li class="menu-item">
              <div class="wrapper"><a href="{% url 'agenda' %}">Agenda</a></div>
            </li>
            <li class="menu-item"><div class="wrapper"><a href="{% url 'contact' %}">Contact</a></div></li>
            <li class="menu-item"><div class="wrapper"><a href="https://www.helloasso.com/associations/association-la-selkie/" target="_blank">Boutique</a></div></li>
            <li class="menu-item"><div class="wrapper">
              <a class="social" href="https://www.facebook.com/Onde.music" target="_blank"><i class="fa fa-facebook"></i></a>
              <a class="social" href="https://www.youtube.com/channel/UCg97xZ0nuoEiil8ZEUE9p6w" target="_blank"><i class="fa fa-youtube-play"></i></a>
              <a class="social" href="https://open.spotify.com/album/3jvOJkj2ZQrjeT4GANhM0X?si=b6xpm_ZJTsS0FhTvFQzmBw" target="_blank"><i class="fa fa-spotify"></i></a>
              <a class="social" href="https://ondemodernceltic.bandcamp.com/releases" target="_blank"><i class="fa fa-bandcamp"></i></a>
            </div></li>
        </ul>
    </div>
    <div id="responsiveButton"><i class="fa fa-bars"></i></div>
    <div id="responsiveOverlay"></div>
</div>
