@function multiple-box-stars($n) {
    $value: '#{random(2000)}px #{random(2000)}px rgba(254,254,254,0.6)';
    @for $i from 2 through $n {
        $value: '#{$value} , #{random(2000)}px #{random(2000)}px rgba(254,254,254,0.6)';
    }
    @return unquote($value);
}

$shadows-medium: multiple-box-stars(500);
$shadows-big:    multiple-box-stars(300);

#stars1 {
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-medium;
  // animation: animStar 50s linear infinite;

  &::after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars2 {
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-big;
  // animation: animStar 50s linear infinite;

  &::after {
    content: ' ';
    position: absolute;
    top: -2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

@keyframes animStar {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 2000px);
  }
}
