.videos-list {
    .video-element {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        img.youtube-play {
            width: 30px;
        }
    }
}
