#agenda {
  max-width: 800px;

  .reseaux i {
    margin: 0 5px;
  }

  .futures {
    margin-top: 50px;
    margin-bottom: 50px;

    .date {
      @include grid(2,4,4);
      border-bottom: 1px solid $white;
      padding: 15px;

      .quand {
        font-family: 'BebasNeue';
        font-weight: bold;
        .jour {font-size: 2.2rem;}
        .mois {font-size: 1.8rem;}
      }
      .evenement, .ville {
        font-weight: bold;
      }

      .evenement, .ville, .reseaux {
        display: flex;
        font-size: 1.1rem;
        justify-content: center;
        align-items: center;
      }

      @media screen and (max-width: $screen-medium) {
        .reseaux {order: 3;padding:15px;}
        .ville {order:4;}
      }
    }
  }

  .passe {
    max-width: 500px;
    margin-top: 50px;
    h3 {
      font-size: 1.2rem;
      margin: 7px;
      // @include menu-link();
    }
    // border-bottom: 1px solid $white;
    .date {
      //@include grid(3,3,3);
      display: grid;
      grid-template-columns: 60px auto 80px;
      margin: 4px;

      .jour {
        font-family: 'BebasNeue';
        font-size: 1rem;
      }
      .evenement {
        text-align: left;
      }
      .lieu {
        text-align: right;
      }

      .jour,.evenement,.lieu,.reseaux {
        align-self: center;
      }
    }
  }

}
