#contact {
  .onde {
    margin: auto;
    font-size: 2rem;
    letter-spacing: 2px;

    @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
      font-size: 1.3rem;
    }
  }

  .avatar {
    margin: 60px 0;
  }

  .contacts {
    @include grid (1,2,2,20px);

    .contact {
      margin: 40px 0;
    }

    .description {
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

    table.fields {
      margin: auto;

      td.logo {
        min-width: 30px;
      }

      td.content {
        text-align: left;
      }
    }
  }

  .img {
    margin: 60px 0;
  }
}
