#groupe {
  .presentation {
    font-size: 120%;

    p {
      margin-top: 15px;
      margin-top: 15px;
    }
  }

  .avatar {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .membres {

    .membre {
      display: grid;
      @media screen and (min-width: $screen-medium) {
        grid-template-columns: auto auto;
        &:nth-child(even) {
          & .img {order:2;}
        }
      }
      @media screen and (max-width: $screen-medium) {
        grid-template-rows: auto;
      }
      grid-gap: 20px;

      margin: 60px 0 60px 0;

      .texte {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;

        p {
          line-height: 1.6;
        }
      }
    }
  }
}
