.full-width {
  position: relative;
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url("../img/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $screen-large) {
    background-position: center -240px;
  }
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  .home-title {
    text-align: right;
    img.logo{width: 600px;}
    h2 {
      letter-spacing: 10px;
      font-weight: normal;
    }
  }

  @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {

    .home-title {
      img.logo {width: 200px;}
      h2 {
        font-size: 0.8rem;
      }
    }
  }
}

#maelstrom {
  position: relative;
  height: 100vh;

  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url('../img/Pochette-ONDE.jpg');
    background-position: center;
    background-size: cover;
    filter: blur(15px);
    z-index: -1;
  }

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{width:100%;vertical-align:bottom;}

    .logo {
      max-width: 400px;
      text-align: center;

      img {
        width: 90%;
      }
    }

    .album {
      max-width: 300px;
      margin: 50px;
      box-shadow: 0 0 60px $red;
      transition: box-shadow .3s;
      animation: shine 3.5s linear infinite;

      @keyframes shine {
        0% {
          box-shadow: 0 0 70px $red;
        }
        2% {
          box-shadow: 0 0 100px $red;
        }
      }
    }

    .texte {
      font-size: 130%;
      text-align: center;

      h2 {
        font-family: sans-serif;
        color: $red;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .links {
        i {
          padding: 5px;
        }
      }

      h3 {
        margin-top: 10px;
        font-family: 'BebasNeue';
        font-size: 150%;
      }
    }
  }

}

#actus {
  .thumbnail{
    img {width:100%;}
  }
  .post {
    padding: 40px 0;

    .text {
      max-width: 800px;
      margin: 10px auto;

      p { margin: 10px 0; }
      a { font-weight: bold }
    }
  }
}

#down {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
  cursor: pointer;
  opacity: 1;
  visibility: visible;

  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid;
  transition: border-top-color .5s, opacity .5s, visibility .5s;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &.white {
    border-top-color: $white;
  }

  &.red {
    border-top-color: $red;
  }

  animation: bounce 1s ease-in-out infinite alternate;
}

@keyframes bounce {
  from {padding-bottom: 0;}
  to {padding-bottom: 5px;}
}
