#photos {

  .presse {
    @include grid(2,3,3,15px);
    padding: 15px;
    margin-bottom: 100px;
    img {width:100%;}

    &.gallerie img {
      cursor: pointer;
    }
  }

  .galleries {
    .gallerie {
      border-bottom: 1px solid $white;
      padding: 15px;
      .accordion {
        padding: 8px;

        h3, p {display: inline-block;}
        i {
          font-size: 5px;
          vertical-align: middle;
          margin-left: 5px;
          margin-right: 5px;
        }
      }

      .diaporama {
        max-width: 800px;
        @include grid(2,5,5,10px);
        img {
          width:100%;
          cursor: pointer;
        }
      }

      .wrapper {
        transition: max-height 1s ease-out;
      }
    }
  }

}
