#videos {

  .videos-list {
    .video-element {
      position: relative;
      img.thumbnail {
        width: 100%;
      }
      img.play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 5%;
      }
    }
    .seconds {
      .video-element {
        filter: grayscale(100%);
        transition: filter .3s;

        &:hover {
          filter: grayscale(0);
        }
      }
      @include grid(1,2,4,5px);
      margin-top: 35px;
      h3 {
        font-size: 80%;
        bottom: 5px;
      }
    }
    h3 {
      position: absolute;
      bottom: 15px;
    }
  }

}
